<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>
<body class="container">

  <style>
    #chartdiv {
      width: 100%;
      height: 300px;
    }
  </style>
<% var metrics %>
<%= metrics %>

  <h1>Hello <%= username %> welcome to your page</h1>




  <div class="row">
    <div class="col-10"></div>
  <div class="col-2">
    <!--Col Val -->
    <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
      Logout
    </button>
  </div>
</div>

  <div class="row">
    <div class="col-12">
      <!-- // --- Row Begin ---
      //  -----------------------  -->
      <div class="row">
                <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                            href="#list-home" role="tab" aria-controls="home">User Info</a>
                          <!-- <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                            href="#list-profile" role="tab" aria-controls="profile">Edit User</a> -->
                          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                            href="#list-messages" role="tab" aria-controls="messages">Delete User</a>
                          <a class="list-group-item list-group-item-action" id="list-create-metrics-list" data-toggle="list"
                            href="#list-create-metrics" role="tab" aria-controls="CreateMetrics">Create Metrics</a>
                        </div>
                </div>

        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">

             <!-- // --- UserInfo Tab Begin ---
              //  -----------------------  -->
            <!-- <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"> -->
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                  <h3>User Info</h3>
                  
                  <div class="row">
                    <div class="col-10">
                        <div>
                        <label><b>Username: </b><%= username%></label>
                        <div><label><b>Email: </b><%= email%></label></div>
                      </div>
                    </div>
                    <div class="col-2">
                      <button  type="button" class="btn btn-warning edit-metric-value-edit-btn" id="edit-user-btn-show"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    </div>
                  </div>
              
                  
                  
                  
              <!-- // --- UserEdit Tab Begin ---
              //  -----------------------  -->
                  <!-- EDIT USER -->
                  <form action="/user/edit" method="post" id="edit-user-form">
                    <h3 class="form-signin-heading">Edit user</h3>
                    <div class="form-group">
                      <label for="form_username">Username</label>
                      <input id="form_username" type="text" name="username" value="<%= username %>" />
                    </div>
                    <div class="form-group">
                      <label for="form_email">Email</label>
                      <input id="form_email" type="email" name="email" value="<%= email %>" />
                    </div>
                    <div class="form-group">
                      <label for="form_password">Password</label>
                      <input id="form_password" type="password" name="password" value="" />
                    </div>
                    <!-- <button class="btn btn-primary btn-block" id="connect" type="submit" value="Submit">Connect</button> -->
                    <button class="btn btn-primary btn-block" id="connect">Edit userinfo</button>
                  </form>


                </div>
                   <!-- // --- End Tab ---
                    //  -----------------------  -->
         
              
       
                 <!-- // --- End Tab ---
                    //  -----------------------  -->

               <!-- // --- UserDelete Tab Begin ---
              //  -----------------------  -->
              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                <h3>Delete User</h3>
              </div>
   <!-- // --- End Tab ---
                    //  -----------------------  -->
                     <!-- // --- CreateMetrics Tab Begin ---
                    //  -----------------------  -->
                    <div class="tab-pane fade" id="list-create-metrics" role="tabpanel" aria-labelledby="list-create-metrics-list">
                        <h3>Create metrics</h3>

                      <div class="col-md-6 col-md-offset-3">

                        <form action="/metrics" method="POST">
                          <div class="row">
                            <div class="col">
                              <input type="date" class="form-control" id="date-value" aria-describedby="dateHelp" name="timestamp">
                              <small id="dateHelp" class="form-text text-muted">Manually choose a date please</small>
                            </div>
                            <div class="col">
                              <input type="number" min="0" class="form-control" id="metric-value" aria-describedby="valueHelp" name="value">
                              <small id="dateHelp" class="form-text text-muted">Chooe a random value</small>
                            </div>
                          </div>
                          <button class="btn btn-success" id="create-metrics" type="submit" value="Submit">Create metrics</button>
                        </form>
                        <%= metrics %>

                        
                        <!-- 
                        <input type='date' id='date-value'>
                        <input type='number' id='metric-value'> -->
                        <!-- <button onClick='checkDateValue()'> Submit </button> -->

                        <!-- <div>Timestamp:- <span id='date-value-timestamp'></span></div> -->

                        

                        <div id="metrics"></div>
                      </div>
                        <!-- // --- End Tab ---
                    //  -----------------------  -->
          </div>
        </div>
        </div>
      </div>
    </div>

  </div>




 



  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h3>List of metrics</h3>
    </div>
  </div>



  <div id="chartdiv"></div>  
  

  <div class="row justify-content-md-center">
    <div class="col-md-12">

      

      
      <table class="table" id="my-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Value</th>
            <th scope="col">Remove</th>
            <th scope="col">Edit</th>
          </tr>
        <tbody>
          <tr>
            <div id="card-box" class="card">
              <div class="card-header">
                Edit metrics value 
              </div>
              <div class="card-body">
      
                
                <!-- <form method="POST" action="/metrics/edit/"> -->
                  <div  class="form-group">
                    <label id="timestamp-to-edit">Timestamp: <span id="timestamp-span"> </span> </label>
                    <input type="hidden" class="form-control" id="timestamp-to-edit-hidden">
                  </div>
                  <div class="form-group">
                    <label for="value-to-edit">Value</label>
                    <input type="text" class="form-control" id="value-to-edit">
                  </div>
                  <button class="btn btn-primary" onclick="editBox()">Edit</button>
                <!-- </form> -->
              </div>
            </div>
          </tr>
          <% metrics.forEach(function(user){ %>
          <tr>
            <!-- <form method="delete" action="/metrics/delete/<%= user.timestamp%>"> -->
                <th scope="row"></th>  </th>
                <td> <%= user.timestamp%> </td>
                <td>  <span class="value-text"><%= user.value%></span> </td>
                <td>
                  <!-- <input  value="<%= user.timestamp%>"> -->
                  <!-- <input type="" id="form_timestamp" type="number" name="timestamp" /> -->
                  <!-- <a href="/metrics/<%= user.timestamp%>"><i class="fa fa-trash-o" aria-hidden="true"></i></a> -->
                    <button  type="button" class="btn btn-danger" id="delete-metric-value" onclick="deleteMetric(<%= user.timestamp %>, <%= user.value %>)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                </td>
                <td>
                  <!-- <button  type="button" class="btn btn-warning" class="edit-metric-value-edit-btn" onclick="editMetric(<%= user.timestamp %>, <%= user.value %>)"><i class="fa fa-edit" aria-hidden="true"></i></button> -->
                  <button  type="button" class="btn btn-warning edit-metric-value-edit-btn" onclick="editMetric(<%= user.timestamp %>, <%= user.value %>)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                  <!-- <button type="button" class="btn btn-success edit-metric-value-success-btn"> Success</button> -->
                </td> 
            <!-- </form> -->
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

   
      


  <div id="chartContainer" style="height: 300px; width: 100%;"></div>



</body>

</html>

<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script src="//www.amcharts.com/lib/3/amcharts.js"></script>
<script src="//www.amcharts.com/lib/3/serial.js"></script>
<script src="//www.amcharts.com/lib/3/themes/light.js"></script>

<script>

  /*  $('#show-metrics').click((e) => {
        e.preventDefault();
        $.getJSON("/metrics.json", {}, (data) => {
            const content = data.map(d => {
                return 'timestamp: ' + d.timestamp + ', value: ' + d.value + '';
            })
            $('#metrics').append(content.join("\n"));
        });
    })   */

  /*  $('#show-metrics').click((e) => {
      e.preventDefault();
      $.getJSON("user/kad", {}, (data) => {
          console.log(data.username);
          console.log(data);
          $('username').val(data.username);
          $('email').val(data.email); 
          $('password').val(data.password);
      });
  }) */

  // $(".edit-metric-value-success-btn").hide();
    //$(".value-input").hide();

 /* $(".edit-metric-value-edit-btn").click(function(){
    $(".edit-metric-value-success-btn").show();
    $(".value-input").show();
    $(".value-text").hide();
  });
*/
  
 /* $(".edit-metric-value-edit-btn").click(function() {
    console.log("Hello");
    $(this).hide()   
    $(this).siblings(".edit-metric-value-success-btn").show();
});
  

$(".edit-metric-value-success-btn").click(function() {
  console.log("Hello");
  $(this).hide()   
  $(this).siblings(".edit-metric-value-edit-btn").show();
});
  
*/


    // --- Edit specific Metric ---
  //  -----------------------



//efter Edit 
//Vis det på tidslinjen 



$("#edit-user-form").hide();
$("#edit-user-btn-show").click((e) =>{
  $("#edit-user-form").show();
  $("#edit-user-btn-show").hide();
}) 


$("#card-box").hide();

function editBox(){
  data = {}
 
  data.timestamp = $("#timestamp-to-edit-hidden").val();
  data.value = $('#value-to-edit').val()
  console.log("data", data);
 $.ajax({
    type: "POST", 
    url: "/metrics",
    data: JSON.stringify(data),
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function (data) {
      console.log("Success####", data);
      $("#card-box").hide();
      $("#timestamp-span").text('');
      $("#timestamp-to-edit-hidden").val('');
      $("#value-to-edit").val('');
    },
    failure: function (errMsg) {
      alert(errMsg);
    }
  })

}


  // --- send value to edit Metric ---
  //  ----------------------- 
  $("#card-box").hide();
function editMetric(timestamp, value){
 $("#timestamp-span").text(timestamp);
 $("#timestamp-to-edit-hidden").val(timestamp);
 $("#value-to-edit").val(value);
 $("#card-box").show();
}










    // --- Delete Metric ---
  //  ----------------------- 
  function deleteMetric(timestamp, value){
    console.log(timestamp, value);

    $.ajax({
      type: "DELETE",
      url: "/metrics/"+timestamp+"/"+value,
      success: function (data) {
        console.log(data);

      },
      failure: function (errMsg) {
        alert(errMsg);
      }
    })
  }

    // --- Get Metircs ---
  //  ----------------------- 
  $('#show-metrics').click((e) => {
      e.preventDefault();
      $.getJSON("/metrics", {}, (data) => {
          console.log(data);
       
      });
  }) 


   // --- Temp test timestamp ---
  //  ----------------------- 
  function checkDateValue() {
    var dateConvertedToTimestamp = (+new Date(document.getElementById('date-value').value));

    document.getElementById('date-value-timestamp').innerHTML = dateConvertedToTimestamp;
  }

  // --- Show all metric ---
  //  ----------------------- 

function createChart(){
  let tempData = [];
  <% metrics.forEach(function(user){ %>
      tempData.push({timestamp: <%= user.timestamp %>, value: <%= user.value %> })
    <% }); %>

    console.log(tempData);
    if(tempData){
      var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "dataProvider": tempData,
        "graphs": [{
          "bullet": "round",
          "type": "smoothedLine",
          "valueField": "value"
        }],
        "categoryField": "timestamp",
        "categoryAxis": {
          "parseDates": true,
          "minPeriod": "fff"
        }
      });
    }

}
  // --- Runs the chart ---
  //  ----------------------- 
      createChart();


  // --- Creates new metric ---
  // --------------------------   
  /*$('#create-metrics').click((e) => {
    console.log("Hello create");
    let data = {};
    console.log((+new Date(document.getElementById('date-value').value)));
    data.timestamp = (+new Date(document.getElementById('date-value').value));
    data.value = $('#metric-value').val();
    console.log(data);
    $.ajax({
      type: "POST",
      url: "/metrics",
      // The key needs to match your method's input parameter (case-sensitive).
      data: JSON.stringify(data),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function (data) {
        console.log("VALUE###");
        console.log(data);
        console.log("VALUE###");
        $('#metric-value').val("");
        $('#date-value').val("");
        ejs.render('<$= metrics.join(" | "); $>', { metrics: data});
      },
      failure: function (errMsg) {
        alert(errMsg);
      }
    })
  })*/

</script>

<!-- <script src="/js/jquery-3.4.1.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

<!-- https://canvasjs.com/docs/charts/basics-of-creating-html5-chart/date-time-axis/ -->

<script type="text/javascript">
 /* window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
      {
        title: {
          text: "Simple Date-Time Chart"
        },
        axisX: {
          title: "timeline",
          gridThickness: 2
        },
        axisY: {
          title: "Downloads"
        },
        data: [
          {
            type: "area",
            dataPoints: [//array
              { x: new Date(2012, 01, 1), y: 26 },
              { x: new Date(2012, 01, 3), y: 38 },
              { x: new Date(2012, 01, 5), y: 43 },
              { x: new Date(2012, 01, 7), y: 29 },
              { x: new Date(2012, 01, 11), y: 41 },
              { x: new Date(2012, 01, 13), y: 54 },
              { x: new Date(2012, 01, 20), y: 66 },
              { x: new Date(2012, 01, 21), y: 60 },
              { x: new Date(2012, 01, 25), y: 53 },
              { x: new Date(2012, 01, 27), y: 60 }

            ]
          }
        ]
      });

    chart.render();


    /*var chart = AmCharts.makeChart("chartdiv", {
      "type": "serial",
      "theme": "light",
      "dataProvider": [{
        "timestamp": 1485343314150,
        "value": 3
      }, {
        "timestamp": 1485343314300,
        "value": 2
      }, {
        "timestamp": 1485343314400,
        "value": 1
      }, {
        "timestamp": 1485343314450,
        "value": 1
      }],
      "graphs": [{
        "bullet": "round",
        "type": "smoothedLine",
        "valueField": "value"
      }],
      "categoryField": "timestamp",
      "categoryAxis": {
        "parseDates": true,
        "minPeriod": "fff"
      }
    });*/



  /*}*/
</script>



<script>
  

</script>