<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body class="container">

  <style>
    #chartdiv {
      width: 100%;
      height: 300px;
    }
  </style>
  <% var metrics %>
  <!-- <%= metrics %> -->

  <div class="row">
    <div class="col-10">
      <h1>Welcome <%= username %></h1>
    </div>
    <div class="col-2">
      <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
        Logout
      </button>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <!-- // --- Row Begin --- -->
      <!-- // ----------------- -->
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
              href="#list-home" role="tab" aria-controls="home">User Info</a>
            <!-- <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                            href="#list-profile" role="tab" aria-controls="profile">Edit User</a> -->
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
              href="#list-messages" role="tab" aria-controls="messages">Delete User</a>
            <a class="list-group-item list-group-item-action" id="list-create-metrics-list" data-toggle="list"
              href="#list-create-metrics" role="tab" aria-controls="CreateMetrics">Create Metrics</a>
          </div>
        </div>

        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">

            <!-- // --- UserInfo Tab Begin --- -->
            <!-- // -------------------------- -->
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
              <h3>User Info</h3>
              <div class="row">
                <div class="col-10">
                  <div>
                    <label><b>Username: </b><%= username%></label>
                    <div><label><b>Email: </b><%= email%></label></div>
                  </div>
                </div>
                <div class="col-2">
                  <button type="button" class="btn btn-warning edit-metric-value-edit-btn" id="edit-user-btn-show"><i
                      class="fa fa-edit" aria-hidden="true"></i></button>
                </div>
              </div>

              <!-- // --- UserEdit Tab Begin --- -->
              <!-- // -------------------------- -->
              <form action="/user/edit" method="post" id="edit-user-form">
                <h3 class="form-signin-heading">Edit user</h3>
                <div class="form-group">
                  <label for="form_username">Username</label>
                  <input id="form_username" type="text" name="username" value="<%= username %>" />
                </div>
                <div class="form-group">
                  <label for="form_email">Email</label>
                  <input id="form_email" type="email" name="email" value="<%= email %>" />
                </div>
                <div class="form-group">
                  <label for="form_password">Password</label>
                  <input id="form_password" type="password" name="password" value="" />
                </div>
                <button class="btn btn-primary btn-block" id="connect">Edit userinfo</button>
              </form>
            </div>
            <!-- // --- End Tab --- -->
            <!-- // --------------- -->

            <!-- // --- UserDelete Tab Begin --- -->
            <!-- // ---------------------------- -->
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
              <h3>Delete User</h3>
              <h4>This button will delete the user, are you sure you want to delete ? </h4>
              <form class="spacer" action="user/delete" method="post">
                <input class="btn btn-danger" class="submit" type="submit" value="Submit" />
              </form>
            </div>

            <!-- // --- End Tab --- -->
            <!-- //  -------------  -->
            <!-- // --- CreateMetrics Tab Begin --- -->
            <!-- // ------------------------------- -->
            <div class="tab-pane fade" id="list-create-metrics" role="tabpanel"
              aria-labelledby="list-create-metrics-list">
              <h3>Create metrics</h3>

              <div class="col-md-6 col-md-offset-3">
                <form action="/metrics" method="POST">
                  <div class="row">
                    <div class="col">
                      <input type="date" class="form-control" id="date-value" aria-describedby="dateHelp"
                        name="timestamp">
                      <small id="dateHelp" class="form-text text-muted">Manually choose a date please</small>
                    </div>
                    <div class="col">
                      <input type="number" min="0" class="form-control" id="metric-value" aria-describedby="valueHelp"
                        name="value">
                      <small id="dateHelp" class="form-text text-muted">Chooe a random value</small>
                    </div>
                  </div>
                  <button class="btn btn-success" id="create-metrics" type="submit" value="Submit">Create
                    metrics</button>
                </form>
                <div id="metrics"></div>
              </div>
              <!-- // --- End Tab --- -->
              <!-- // --------------- -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h3>List of metrics</h3>
    </div>
  </div>

  <div id="chartdiv"></div>

  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <table class="table" id="my-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Value</th>
            <th scope="col">Remove</th>
            <th scope="col">Edit</th>
          </tr>
        <tbody>
          <tr>
            <div id="card-box" class="card">
              <div class="card-header">
                Edit metrics value
              </div>
              <div class="card-body">


                <form method="POST" action="/metrics">
                  <div class="form-group">
                    <label id="timestamp-to-edit">Timestamp: <span id="timestamp-span"> </span> </label>
                    <input type="hidden" class="form-control" id="timestamp-to-edit-hidden" name="timestamp">
                  </div>
                  <div class="form-group">
                    <label for="value-to-edit">Value</label>
                    <input type="text" class="form-control" id="value-to-edit" name="value">
                  </div>
                  <button class="btn btn-primary" type="submit" value="Submit">Edit</button>
                </form>
              </div>
            </div>
          </tr>
          <% metrics.forEach(function(user){ %>
          <tr>
            <th scope="row"></th>
            </th>
            <td> <%= user.timestamp%> </td>
            <td> <span class="value-text"><%= user.value%></span> </td>
            <td>
              <button type="button" class="btn btn-danger" id="delete-metric-value"
                onclick="deleteMetric(<%= user.timestamp %>, <%= user.value %>)"><i class="fa fa-trash-o"
                  aria-hidden="true"></i></button>
            </td>
            <td>
              <button type="button" class="btn btn-warning edit-metric-value-edit-btn"
                onclick="editMetric(<%= user.timestamp %>, <%= user.value %>)"><i class="fa fa-edit"
                  aria-hidden="true"></i></button>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <div id="chartContainer" style="height: 300px; width: 100%;"></div>

</body>

</html>

<script src="//www.amcharts.com/lib/3/amcharts.js"></script>
<script src="//www.amcharts.com/lib/3/serial.js"></script>
<script src="//www.amcharts.com/lib/3/themes/light.js"></script>

<script>

  $("#edit-user-form").hide();
  $("#edit-user-btn-show").click((e) => {
    $("#edit-user-form").show();
    $("#edit-user-btn-show").hide();
  })

  // --- send value to edit Metric ---
  //  ----------------------- 
  $("#card-box").hide();
  function editMetric(timestamp, value) {
    $("#timestamp-span").text(timestamp);
    $("#timestamp-to-edit-hidden").val(timestamp);
    $("#value-to-edit").val(value);
    $("#card-box").show();
  }

  // --- Delete Metric ---
  //  ----------------------- 
  function deleteMetric(timestamp, value) {
    console.log(timestamp, value);
    $.ajax({
      type: "DELETE",
      url: "/metrics/" + timestamp + "/" + value,
      success: function (data) {
        console.log(data);
        window.location.reload();
      },
      failure: function (errMsg) {
        alert(errMsg);
      }
    })
  }

  // --- Get Metircs ---
  //  ----------------------- 
  $('#show-metrics').click((e) => {
    e.preventDefault();
    $.getJSON("/metrics", {}, (data) => {
      console.log(data);
    });
  })

  // --- Temp test timestamp ---
  //  ----------------------- 
  function checkDateValue() {
    var dateConvertedToTimestamp = (+new Date(document.getElementById('date-value').value));
    document.getElementById('date-value-timestamp').innerHTML = dateConvertedToTimestamp;
  }

  // --- Show all metric ---
  //  ----------------------- 
  function createChart() {
    let tempData = [];
  <% metrics.forEach(function (user) { %>
      tempData.push({ timestamp: <%= user.timestamp %>, value: <%= user.value %> })
      <% }); %>

        console.log(tempData);
    if (tempData) {
      var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "dataProvider": tempData,
        "graphs": [{
          "bullet": "round",
          "type": "smoothedLine",
          "valueField": "value"
        }],
        "categoryField": "timestamp",
        "categoryAxis": {
          "parseDates": true,
          "minPeriod": "fff"
        }
      });
    }
  }

  //  --- Runs the chart ----
  //  ----------------------- 
  createChart();

</script>

<!-- <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>